<div class="min-h-screen flex justify-center bg-gray-100">
  <style>
    .book-list-container::-webkit-scrollbar {
      display: none;
    }
    .book-list-container {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  </style>
  <div class="book-list-container bg-white p-6 rounded-lg shadow-lg w-full max-w-5xl h-screen overflow-y-scroll" (scroll)="onScroll($event)">
    <div class="mb-4 flex justify-between items-center">
      <h2 class="text-2xl font-semibold">Books List</h2>
      <div >
        <button (click)="openAddBookModal()" 
          class="bg-green-500 px-2 py-2 rounded-md text-white font-bold mr-2"
        >Add Book</button>
        <input
          type="text"
          [(ngModel)]="searchQuery"
          placeholder="Search by keyword"
          (input)="onSearch()"
          class="px-4 py-2 border rounded-md"
        />
      </div>
    </div>

    <div *ngIf="books.length === 0" class="text-center text-gray-500">
      No books available.
    </div>

    <table *ngIf="books.length > 0" class="min-w-full table-auto">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 border-b text-left">#</th>
          <th class="px-4 py-2 border-b text-left">Cover Page</th>
          <th class="px-4 py-2 border-b text-left">Title</th>
          <th class="px-4 py-2 border-b text-left">Author</th>
          <th class="px-4 py-2 border-b text-left">Genre</th>
          <th class="px-4 py-2 border-b text-left">Year</th>
          <th class="px-4 py-2 border-b text-left">Availability</th>
          <th class="px-4 py-2 border-b text-left">Location</th>
          <th class="px-4 py-2 border-b text-left">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; let i = index">
          <td class="px-4 py-2 border-b">{{ i + 1 }}</td>
          <td class="px-4 py-2 border-b">
            <img
          *ngIf="book.coverImageBase64"
          [src]="book.coverImageBase64.startsWith('data:image') ? book.coverImageBase64 : 'data:image/jpeg;base64,' + book.coverImageBase64"
          alt="Book Cover"
          class="w-20 h-full rounded-md"
        />
        <div *ngIf="!book.coverImageBase64" class="w-20 h-full p-2 bg-gray-300 flex items-center justify-center rounded-md text-gray-500">
          No Image Available
        </div>
          </td>
          <td class="px-4 py-2 border-b">{{ book.title }}</td>
          <td class="px-4 py-2 border-b">{{ book.author }}</td>
          <td class="px-4 py-2 border-b">{{ book.genre }}</td>
          <td class="px-4 py-2 border-b">{{ book.publicationYear }}</td>
          <td class="px-4 py-2 border-b">{{ book.copiesAvailable }}</td>
          <td class="px-4 py-2 border-b">{{ book.location }}</td>
          <td class="px-4 py-2 border-b text-center gap-y-2">
            <div class="">
              <button
                (click)="openEditBookModal(book)"
                class="bg-yellow-500 hover:bg-yellow-600 text-white p-1 rounded-md w-full mb-2"
              >
                Edit
              </button>
              <button
                (click)="onDelete(book)"
                class="bg-red-500 hover:bg-red-600 text-white p-1 rounded-md w-full"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- add book -->
<div *ngIf="isAddBookModalOpen" class="fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-lg">
    <button (click)="closeAddBookModal()" class="text-center text-blue-500">
      <svg fill="#000000" height="15px" width="15px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve">
        <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 
        489.292,457.678 277.331,245.004 489.292,32.337 "/>
      </svg>
    </button>
    <h2 class="text-xl font-semibold mb-4 text-center">Add New Book</h2>
    <form (ngSubmit)="onSubmit()" #bookForm="ngForm" class="space-y-4">
      <div>
        <label for="title" class="block font-medium">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          [(ngModel)]="book.title"
          required
          class="w-full px-4 py-2 border rounded-md"
        />
      </div>
      <div>
        <label for="author" class="block font-medium">Author</label>
        <input
          type="text"
          id="author"
          name="author"
          [(ngModel)]="book.author"
          required
          class="w-full px-4 py-2 border rounded-md"
        />
      </div>

      <div class="flex gap-x-4">
        <div>
          <label for="genre" class="block font-medium">Genre</label>
          <input
            type="text"
            id="genre"
            name="genre"
            [(ngModel)]="book.genre"
            required
            class="w-full px-4 py-2 border rounded-md"
          />
        </div>

        <div>
          <label for="isbn" class="block font-medium">ISBN</label>
          <input
            type="text"
            id="isbn"
            name="isbn"
            [(ngModel)]="book.isbn"
            required
            class="w-full px-4 py-2 border rounded-md"
          />
        </div>
      </div>

      <div class="flex gap-x-4">
        <div>
          <label for="publicationYear" class="block font-medium">Publication Year</label>
          <input
            type="number"
            id="publicationYear"
            name="publicationYear"
            [(ngModel)]="book.publicationYear"
            required
            class="w-full px-4 py-2 border rounded-md"
          />
        </div>

        <div>
          <label for="copiesAvailable" class="block font-medium">Copies Available</label>
          <input
            type="number"
            id="copiesAvailable"
            name="copiesAvailable"
            [(ngModel)]="book.copiesAvailable"
            required
            class="w-full px-4 py-2 border rounded-md"
          />
        </div>
      </div>

      <div>
        <label for="location" class="block font-medium">Location</label>
        <input
          type="text"
          id="location"
          name="location"
          [(ngModel)]="book.location"
          required
          class="w-full px-4 py-2 border rounded-md"
        />
      </div>

      <div>
        <label for="bookCoverImage" class="block font-medium">Book Cover Image</label>
        <input
          type="file"
          id="bookCoverImage"
          name="bookCoverImage"
          (change)="onFileChange($event)"
          class="w-full px-4 py-2 border rounded-md"
        />
      </div>

      <button
        type="submit"
        [disabled]="!bookForm.valid"
        class="w-full bg-blue-500 text-white py-2 rounded-md"
      >
        Add Book
      </button> 
    </form>

    <div *ngIf="successMessage" class="mt-4 text-green-500 text-center">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="mt-4 text-red-500 text-center">
      {{ errorMessage }}
    </div>
  </div>
</div>


<!-- edit book -->
<div *ngIf="isEditBookModalOpen" class="fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-lg">
    <button (click)="closeEditBookModal()" class="text-center text-blue-500">
      <svg fill="#000000" height="15px" width="15px" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490">
        <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 
        489.292,457.678 277.331,245.004 489.292,32.337 "/>
      </svg>
    </button>
    <h2 class="text-xl font-semibold mb-4 text-center">Edit Book</h2>
    <form (ngSubmit)="onUpdateBook()" #bookForm="ngForm" class="space-y-4">
      <div>
        <label for="title" class="block font-medium">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          [(ngModel)]="selectedBook.title"
          required
          class="w-full px-4 py-2 border rounded-md"
        />
      </div>
      <div>
        <label for="author" class="block font-medium">Author</label>
        <input
          type="text"
          id="author"
          name="author"
          [(ngModel)]="selectedBook.author"
          required
          class="w-full px-4 py-2 border rounded-md"
        />
      </div>
      
      <div class="flex gap-x-4">
        <div>
          <label for="genre" class="block font-medium">Genre</label>
          <input
            type="text"
            id="genre"
            name="genre"
            [(ngModel)]="selectedBook.genre"
            required
            class="w-full px-4 py-2 border rounded-md"
          />
        </div>

        <div>
          <label for="isbn" class="block font-medium">ISBN</label>
          <input
            type="text"
            id="isbn"
            name="isbn"
            [(ngModel)]="selectedBook.isbn"
            required
            class="w-full px-4 py-2 border rounded-md"
          />
        </div>
      </div>

      <div class="flex gap-x-4">
        <div>
          <label for="publicationYear" class="block font-medium">Publication Year</label>
          <input
            type="number"
            id="publicationYear"
            name="publicationYear"
            [(ngModel)]="selectedBook.publicationYear"
            required
            class="w-full px-4 py-2 border rounded-md"
          />
        </div>

        <div>
          <label for="copiesAvailable" class="block font-medium">Copies Available</label>
          <input
            type="number"
            id="copiesAvailable"
            name="copiesAvailable"
            [(ngModel)]="selectedBook.copiesAvailable"
            required
            class="w-full px-4 py-2 border rounded-md"
          />
        </div>
      </div>

      <div>
        <label for="location" class="block font-medium">Location</label>
        <input
          type="text"
          id="location"
          name="location"
          [(ngModel)]="selectedBook.location"
          required
          class="w-full px-4 py-2 border rounded-md"
        />
      </div>

      <div>
        <label for="bookCoverImage" class="block font-medium">Book Cover Image</label>
        <input
          type="file"
          id="bookCoverImage"
          name="bookCoverImage"
          (change)="onFileChange($event)"
          class="w-full px-4 py-2 border rounded-md"
        />
      </div>
      <button type="submit" [disabled]="!bookForm.valid" class="w-full bg-blue-500 text-white py-2 rounded-md">
        Update Book
      </button>
    </form>
  </div>
</div>
