<div>
  <div class="container mx-auto px-2 py-8 lg:w-2/3">
    <button [routerLink]="['/books']" class="flex text-blue-600 hover:text-blue-800 hover:underline text-sm">
      <svg class="mt-1" fill="#0000dd" height="12px" width="12px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
      viewBox="0 0 404.258 404.258" xml:space="preserve">
      <polygon points="289.927,18 265.927,0 114.331,202.129 265.927,404.258 289.927,386.258 151.831,202.129 "/>
    </svg>
    View Books Catalog
  </button>
  
    <div class="mt-6">
      <h1 class="text-xl md:text-2xl font-semibold mb-4 md:mb-6 text-center">Frequent Borrower Statistics</h1>
      <div class="grid grid-cols-3 lg:grid-cols-5 gap-6 mb-8 text-center">
        <div class="bg-green-600 p-6 rounded-lg text-white shadow-lg">
          <p class="text-5xl font-semibold">{{ totalBooksBorrowed }}</p>
          <h4 class="text-xl font-medium pt-4">Books Borrowed</h4>
        </div>
        <div class="bg-red-500 p-6 rounded-lg text-white shadow-lg">
          <p class="text-5xl font-semibold">{{ overdueBooksCount }}</p>
          <h4 class="text-xl font-medium pt-4">Books Overdue</h4>
        </div>
        <div class="bg-blue-500 p-6 rounded-lg text-white shadow-lg">
          <p class="text-5xl font-semibold">{{ returnedBooksCount }}</p>
          <h4 class="text-xl font-medium pt-4">Books Returned</h4>
        </div>
        <div class="bg-gray-500 p-6 rounded-lg text-white shadow-lg">
          <p class="text-5xl font-semibold">{{ booksYetToReturn }}</p>
          <h4 class="text-xl font-medium pt-4">Books yet to Return</h4>
        </div>
        <div class="bg-yellow-500 p-6 rounded-lg text-white shadow-lg">
          <p class="text-5xl font-semibold">{{ totalPenaltyPaid }}</p>
          <h4 class="text-xl font-medium pt-4">Penalty Paid</h4>
        </div>
      </div>
    </div>
  
    <h1 class="text-xl md:text-2xl font-semibold mb-4 md:mb-6 text-center">Your Borrowing History</h1>
  
    <div *ngIf="loading" class="text-center text-lg">Loading...</div>
  
    <div *ngIf="!loading && borrowedBooks.length === 0" class="text-center text-base md:text-lg text-gray-500">
      No borrowing history found.
    </div>
  
    <div *ngIf="!loading && borrowedBooks.length > 0" class="overflow-x-auto">
      <table class="min-w-full bg-white shadow-md rounded-lg text-sm md:text-base">
        <thead>
          <tr class="border-b">
            <th class="px-2 md:px-4 py-2 text-left font-medium">#</th>
            <th class="px-2 md:px-4 py-2 text-left font-medium">Book Title</th>
            <th class="px-2 md:px-4 py-2 text-left font-medium">Borrowed Date</th>
            <th class="px-2 md:px-4 py-2 text-left font-medium">Due Date</th>
            <th class="px-2 md:px-4 py-2 text-left font-medium">Days Overdue</th>
            <th class="px-2 md:px-4 py-2 text-left font-medium">Penalty</th>
            <th class="px-2 md:px-4 py-2 text-left font-medium">Return</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of borrowedBooks; let i = index" class="border-b">
            <td class="px-2 md:px-4 py-2 border-b">{{ i + 1 }}</td> 
            <td class="px-2 md:px-4 py-2 truncate">{{ book.title }}</td>
            <td class="px-2 md:px-4 py-2">{{ book.borrowDate | date }}</td>
            <td class="px-2 md:px-4 py-2">{{ book.dueDate | date }}</td>
            <td class="px-2 md:px-4 py-2">
              <ng-container *ngIf="book.status === 'borrowed'; else returnedText">
                <span
                  [ngClass]="{ 'text-red-600': getDaysOverdue(book.dueDate) > 0, 'text-black': getDaysOverdue(book.dueDate) === 0 }"
                >
                  {{ getDaysOverdue(book.dueDate) }}
                </span>
              </ng-container>
              <ng-template #returnedText>
                <span class="text-green-600 font-semibold">Returned</span>
              </ng-template>
            </td>
            
            <td 
              class="px-2 md:px-4 py-2"
              [ngStyle]="{ color: calculatePenalty(book.dueDate) > 0 ? 'red' : 'black' }"
            >
              {{ calculatePenalty(book.dueDate) }}
            </td>

            <td class="px-2 md:px-4 py-2">
              <ng-container *ngIf="book.status === 'borrowed' && calculatePenalty(book.dueDate)==0;">
                <button class="bg-blue-600 px-2 py-1 rounded-md text-white hover:bg-blue-800" 
                        (click)="returnBook(book)">
                  Return
                </button>
              </ng-container>
              <ng-container *ngIf="book.status === 'borrowed' && calculatePenalty(book.dueDate)>0;">
                <button class="bg-blue-600 px-2 py-1 rounded-md text-white hover:bg-blue-800" 
                (click)="payAndReturnBook(book)">
                  Pay Penalty and Return
                </button>
              </ng-container>
              <ng-container *ngIf="book.status !== 'borrowed'">
                <span class="text-green-600 font-semibold">Returned</span>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
